COMPOSE_PROJECT_NAME=okpii

CLI_NAME=okpii_go-cli
ES_NAME=okpii_es
ES_HOST=localhost
ES_PORT=9200
ES_EXT_PORT=9202

MYSQL_USER=root
MYSQL_PASS=password
MYSQL_HOST=localhost
MYSQL_PORT=3636
MYSQL_DB=database

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=database

JWT_TOKEN=thisismysecretjwtcode