# make rebuild
# 
# docker-compose exec  mongodb bash     <-- running mongodb cli
# docker-compose run --rm  go-cli       <-- running checker ./ping

version: '3'

services:
    go-restful:
        container_name: okpii_restful
        build:
            context: ../
            dockerfile: ./deployments/restful/Dockerfile
        volumes:
            - ../data/static:/root/static
            - ../log:/root/log
        env_file:
            - .env
        depends_on:
            - "elasticsearch"
        ports:
            - ${WEB_PORT}:${WEB_PORT}
        restart: on-failure
    go-import:
        container_name: okpii_import
        build:
            context: ../
            dockerfile: ./deployments/import/Dockerfile
        # command: filename
        volumes:
            - ../data/static:/root/static
            - ../log:/root/log
            # - ~/.ssh/id_rsa:/root/.ssh/id_rsa
        env_file:
            - .env
        depends_on:
            - "elasticsearch"
    go-dump:
        container_name: okpii_dump
        build:
            context: ../
            dockerfile: ./deployments/dump/Dockerfile
        volumes:
            - ../data/static:/root/static
            - ../log:/root/log
            # - ~/.ssh/id_rsa:/root/.ssh/id_rsa
        env_file:
            - .env
        depends_on:
            - "elasticsearch"
    go-matching:
        container_name: okpii_matching
        build:
            context: ../
            dockerfile: ./deployments/matching/Dockerfile
        volumes:
            - ../data/static:/root/static
            - ../log:/root/log
            # - ~/.ssh/id_rsa:/root/.ssh/id_rsa
        env_file:
            - .env
        depends_on:
            - "elasticsearch"
    elasticsearch:
        container_name: ${ES_NAME}
        # https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html
        # sysctl -w vm.max_map_count=262144 <--- execute this on prod machine OR:
        # optional---->grep MemTotal /proc/meminfo | awk '{printf "%.0f",$2}'
        # optional---->divide above bby 16, and use the value below
        # optional---->sysctl vm.max_map_count=262144  <---- available only until reboot!! do below:
        # echo "vm.max_map_count = 262144" | tee -a /etc/sysctl.conf
        # sysctl -p
        # https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html
        image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.4.0
        environment:
            - cluster.name=docker-cluster
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - ../data/es:/usr/share/elasticsearch/data
        ports:
            - ${ES_EXT_PORT}:${ES_PORT}
        restart: on-failure
networks:
    default:
        driver: bridge